.message-footer.small
  - if current_user.id == message.user.id
    = link_to 'Edit', edit_user_message_path(current_user, message)
  = render partial: 'messages/form-inline', locals: {parent_id: message.id}
