%h1 This is the timeline, bitch! 
- @messages.each do |message|
  %p
    = message.created_at
    %br
    = succeed ':' do
      = succeed link_to message.user.user_name, user_path(message.user) do
        @
    = message.body
