/* mixins... */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

* {
    font-family: "Noto Sans";
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
  
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
  
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}
  
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* main style */

body {
  padding-top: 60px;
  font-family: "monospace";
}
  
section {
  overflow: auto;
}
  
textarea {
  resize: vertical;
}
  
.center {
  text-align: center;
}
  
.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
 margin-top: 45px;
 padding-top: 5px;
 border-top: 1px solid #eaeaea;
 color: #777;
}
  
footer a {
  color: #555;
}
  
footer a:hover {
  color: #222;
}
  
footer small {
  float: left;
}
  
footer ul {
  float: right;
  list-style: none;
}
  
footer ul li {
  float: left;
  margin-left: 15px;
}

/* user footer */
.user_footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.user_footer a {
  color: #555;
}
  
.user_footer a:hover {
  color: #222;
}
  
.user_footer ul {
  list-style: none;
}
  
.user_footer ul li {
  margin-left: 15px;
}

/* Timeline */
.timeline {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    overflow-y: scroll;
}

.timeline_element {
    padding: 1em;
    margin: 1em;
    text-align: center;
    color: #999;
    background-color: #333;
    border-radius: 10%;
}

.btn-timeline {
}

.history {
    height: 40vh;
    overflow-y: scroll;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn {
  border: 1px solid #bbb;
  margin-left: 15px;
  margin-bottom: 5px;
  @include box_sizing;
}

input {
  height: auto important;
}
