.container
  .timeline
    %h1 This is the timeline, bitch! 
    - if logged_in?
      %br
      = render 'messages/form-inline'
    - if @messages.empty?
      I'm so alone...
    - else
      - @messages.each do |message|
        .timeline_element
          = render partial: 'messages/display-message', locals: {message_id: message.id}
        - if logged_in?
          = render partial: 'messages/message-footer', locals: {message: message}
