.timeline
  %h1 This is the timeline, bitch! 
  - if @messages.empty?
    I'm so alone...
  - else
    - @messages.each do |message|
      .timeline_element
        = message.created_at
        %br
      
        - if message.user.active
          = succeed ':' do
            = succeed link_to message.user.username, user_path(message.user) do
              @
        = message.body
